header{
    background-color: darkgray;
    width: 100%;
    height: 20vh;
}

footer{
    background-color: black;
    width: 75%;
    height: 20vh;
    margin: 0 auto;
}

body{
    background-color: lightgray;
    width: 100%;
    height: 70vh;
    margin: 0;
}

main{
    background-color: white;
    width: 75%;
    height: 70vh;
    margin: 0 auto;
}